.app {
  padding: 40px;
  background-color: #41B3A3;
}

.todo {
  align-items: center;
  display: flex;
  font-size: 18px;
  justify-content: space-between;
}
.btn-success {
  background-color: #557A95 !important;
}

.input {
  caret-color: rgb(40, 26, 192);
}